<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <bean class="me.noroutine.ucando.storage.FileArchiveService">
        <property name="fileArchiveRepository" ref="cassandraAndS3" />
    </bean>

    <bean id="fullJpa" class="me.noroutine.ucando.storage.DefaultFileArchiveRepository">
        <property name="metadataRepository">
            <jee:jndi-lookup jndi-name="java:app/file-archive-service/JpaDocumentMetadataRepository"/>
        </property>
        <property name="streamRepository">
            <jee:jndi-lookup jndi-name="java:app/file-archive-service/JpaStreamRepository"/>
        </property>
    </bean>

    <bean id="cassandraAndS3" class="me.noroutine.ucando.storage.DefaultFileArchiveRepository">
        <property name="metadataRepository">
            <bean class="me.noroutine.ucando.metadata.cassandra.CassandraMetadataRepository">
                <property name="cassandraOperations">
                    <cassandra:template />
                </property>
            </bean>
        </property>
        <property name="streamRepository">
            <bean class="me.noroutine.ucando.blob.s3.S3BucketStreamRepository">
                <property name="endpoint" value="s3.noroutine.me" />
                <property name="bucket" value="file-archive" />
                <property name="accessKey" value="1IH4WADVJKF32RY7FNWW" />
                <property name="secretKey" value="123" />
            </bean>
        </property>
    </bean>

    <bean id="cassandraAndFiles" class="me.noroutine.ucando.storage.DefaultFileArchiveRepository">
        <property name="metadataRepository">
            <bean class="me.noroutine.ucando.metadata.cassandra.CassandraMetadataRepository">
                <property name="cassandraOperations">
                    <cassandra:template />
                </property>
            </bean>
        </property>
        <property name="streamRepository">
            <bean class="me.noroutine.ucando.blob.file.FileStreamRepository">
                <property name="storageLocation" value="/var/data/file-archive" />
            </bean>
        </property>
    </bean>

    <bean id="jpaAndFiles" class="me.noroutine.ucando.storage.DefaultFileArchiveRepository">
        <property name="metadataRepository">
            <jee:jndi-lookup jndi-name="java:app/file-archive-service/JpaDocumentMetadataRepository"/>
        </property>
        <property name="streamRepository">
            <bean class="me.noroutine.ucando.blob.file.FileStreamRepository">
                <property name="storageLocation" value="/var/data/file-archive"/>
            </bean>
        </property>
    </bean>


    <cassandra:cluster contact-points="localhost" />
    <cassandra:session keyspace-name="file_archive_ks" />
    <cassandra:mapping />
    <cassandra:converter />

</beans>
